services:
    opal:
        image: datashield/opal_citest:latest
        ports:
            - 8443:8443
        links:
            - mysql
            - rock
        environment:
            - OPAL_ADMINISTRATOR_PASSWORD=datashield_test&
            - MYSQLDATA_HOST=mysql
            - MYSQLDATA_DATABASE=opal
            - MYSQLDATA_USER=datashield
            - MYSQLDATA_PASSWORD=datashield
            - ROCK_HOSTS=rock:8085
            - ROCK_ADMINISTRATOR_PASSWORD=foobar
    mysql:
        image: mysql:5.7.44
        environment:
            - MYSQL_DATABASE=opal
            - MYSQL_USER=datashield
            - MYSQL_PASSWORD=datashield
            - MYSQL_RANDOM_ROOT_PASSWORD=yes
    rock:
        image: datashield/rock-omicron-karma-permissive:devel
        environment:
            DEBUG: "FALSE"
